<a href="/dashboard">&larr; Back To Processes</a>
<script src="/public/ckeditor/ckeditor.js"></script>
<div class="admin-title">
    <h2>View / Edit Process</h2>
</div>

<form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
</form>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">
    
    <input type="hidden" id="quill-content" name="body">

    <label for="body"><b>Content</b></label>

    <div id="editor-container" name="body" ><%- data.body %></div>

    <input type="submit" value="Update" class="btn">

</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      var toolbarOptions = [
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block', 'image'],
          [{ 'header': 1 }, { 'header': 2 }],
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],
          [{ 'indent': '-1'}, { 'indent': '+1' }],
          [{ 'direction': 'rtl' }],
          [{ 'size': ['small', false, 'large', 'huge'] }],
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'font': [] }],
          [{ 'align': [] }],
          ['clean']
      ];

      var quill = new Quill('#editor-container', {
          modules: {
              toolbar: toolbarOptions
          },
          placeholder: 'Compose an epic...',
          theme: 'snow'
      });


      var form = document.querySelector('form');
      var hiddenInput = document.querySelector('input[name="body"]');

      // Initialize hidden input with the initial content
      hiddenInput.value = quill.root.innerHTML;

      // Listen to the text-change event to update the hidden input
      quill.on('text-change', function () {
          var editorContent = quill.root.innerHTML;
          hiddenInput.value = editorContent;
          console.log("Quill content changed:", editorContent);
      });

      form.onsubmit = function () {
          // For debugging purposes
          console.log("Quill content before submit:", hiddenInput.value);

          // Add any additional logic here if needed before submitting the form

          return true; // Change to true to allow the form submission
      };

  });
</script>