<div class="author">
    <!-- <h1 class="author_heading">Standard Operating Procedures</h1> -->
    <h1 class="author_heading">Call Centre Processes</h1>
    <p class="author__body">Updated Call Centre Information for Agents</p>
</div>

<img src="/img/hero-image.webp" alt="gscc" class="hero-image" width="981" height="528">

<section class="articles">
    <br />
    <hr />
    <h2 class="articles__heading"><span >Updated Posts and Useful Information</span></h2>
    <hr />
    <ul class="article-ul">

        <% data.forEach(post => { %>
            <li>
                 <a href="/post/<%= post._id %>">
                     <span><%= post.title %></span>
                     <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                 </a>
            </li>
        <% }) %>
           
    </ul>

    <% if ( nextPage !== null ) { %> 
        <a href='/?page=<%= nextPage %>' class='pagination'>&lt; View Older Posts</a>
    <% } %>

</section>